In [1]:
import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows', 1100)
pd.set_option('display.max_columns', 500)
import numpy as np
import glob

In [2]:
folder = glob.glob("./Downloads/booze/*.xlsx")
folder

['./Downloads/booze/March2019.xlsx',
 './Downloads/booze/May2018.xlsx',
 './Downloads/booze/April2019.xlsx',
 './Downloads/booze/October2019.xlsx',
 './Downloads/booze/August2018.xlsx',
 './Downloads/booze/August2019.xlsx',
 './Downloads/booze/October2018.xlsx',
 './Downloads/booze/February2020.xlsx',
 './Downloads/booze/April2018.xlsx',
 './Downloads/booze/May2019.xlsx',
 './Downloads/booze/November2018.xlsx',
 './Downloads/booze/June2018.xlsx',
 './Downloads/booze/July2018.xlsx',
 './Downloads/booze/July2019.xlsx',
 './Downloads/booze/June2019.xlsx',
 './Downloads/booze/September2020.xlsx',
 './Downloads/booze/November2019.xlsx',
 './Downloads/booze/September2019.xlsx',
 './Downloads/booze/July2020.xlsx',
 './Downloads/booze/June2020.xlsx',
 './Downloads/booze/September2018.xlsx',
 './Downloads/booze/December2018.xlsx',
 './Downloads/booze/May2020.xlsx',
 './Downloads/booze/February2019.xlsx',
 './Downloads/booze/August2020.xlsx',
 './Downloads/booze/January2020.xlsx',
 './Downloads/booze/April2020.xlsx',
 './Downloads/booze/March2020.xlsx']

In [3]:
#nested_dict = pd.read_excel("./Downloads/booze/March2019.xlsx", sheet_name = None)

In [4]:
#list_of_dfs = []
#for i in nested_dict.keys():
#    list_of_dfs.append(nested_dict[i])

In [5]:
#list_of_dfs[0].columns[0].strftime("%Y-%m-%d")

In [6]:
#date = [list_of_dfs[0].iloc[:1, :1].values.flatten()][0]
#print(date)

In [7]:
all_of_the_data = []

for single_month in folder:
    try:
        nested_dict = pd.read_excel(single_month, sheet_name = None)

        list_of_dfs = []
        for i in nested_dict.keys():
            list_of_dfs.append(nested_dict[i])

        date = list_of_dfs[0].columns[0].strftime("%Y-%m-%d")

        list_of_cleaned_df = []
        for df in list_of_dfs:
            df = df.fillna(value=np.nan)

            try:
                class_code = df.iloc[:,1:2].values.tolist()
                class_code = [item for sublist in class_code for item in sublist]
                class_code = list(set(class_code))
                class_code = [i for i in class_code if len(str(i)) > 9][1]
                class_code = class_code.replace("\n", "")
                class_code = class_code.replace("-", "")
                class_code = class_code.replace("  ", " ")
            except:
                pass
            df = df.dropna(thresh=13)
            column_s = df.dropna(thresh=15).values.tolist()[0]
            df.columns = column_s
            df = df[1:]
            df = df.loc[:, df.columns.notnull()]
            try:
                df["Class Code"] = class_code
            except:
                df["Class Code"] = "nan"
            df = df.reset_index(drop = True)

            list_of_cleaned_df.append(df)

        #print(len(list_of_cleaned_df))

        total_month = pd.concat(list_of_cleaned_df).reset_index(drop=True)
        #print(total_month.head())
        total_month["Date"] = date
        total_month = total_month[~total_month["Class Code"].str.startswith('ZZZ')] # drop summary tab
        total_month.columns = ['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count','Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date'] 

        total_month['Item ID'] = pd.to_numeric(total_month['Item ID'], errors='coerce')
        total_month['Bottle Size'] = pd.to_numeric(total_month['Bottle Size'], errors='coerce')
        total_month['Price'] = pd.to_numeric(total_month['Price'], errors='coerce')
        total_month['Cost'] = pd.to_numeric(total_month['Cost'], errors='coerce')
        total_month['Total Sales'] = pd.to_numeric(total_month['Total Sales'], errors='coerce')
        all_of_the_data.append(total_month)
    except:
        print(date)

2019-11-01

In [8]:
test_df = []
for i in all_of_the_data:
    if i.shape[0] > 5000:
        test_df.append(i)

In [13]:
for i in all_of_the_data:
    print(i.shape)

(6261, 16)
(6136, 16)
(6053, 16)
(6599, 16)
(6310, 16)
(6212, 16)
(6194, 16)
(6372, 16)
(0, 16)
(6204, 16)
(6451, 16)
(4788, 16)
(6013, 16)
(6048, 16)
(4876, 16)
(5726, 16)
(6006, 16)
(5821, 16)
(4854, 16)
(6044, 16)
(6493, 16)
(5565, 16)
(6263, 16)
(5752, 16)
(6513, 16)
(5462, 16)
(5834, 16)

In [9]:
for i in test_df:
    print(i.shape)

(6261, 16)
(6136, 16)
(6053, 16)
(6599, 16)
(6310, 16)
(6212, 16)
(6194, 16)
(6372, 16)
(6204, 16)
(6451, 16)
(6013, 16)
(6048, 16)
(5726, 16)
(6006, 16)
(5821, 16)
(6044, 16)
(6493, 16)
(5565, 16)
(6263, 16)
(5752, 16)
(6513, 16)
(5462, 16)
(5834, 16)

In [15]:
for i in test_df:
    print(i.columns.tolist())

['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']
['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count', 'Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date']

In [10]:
test = pd.DataFrame(test_df)

In [22]:
test_df[1].head()

,Class Code,Item ID,Bottle Size,Product Name,Status,Price,Cost,Total Sales,Percent Sales,YOY Sales,Total Bottle Count,Percent Bottle Count,YOY Bottle Count,Case Count (9L),Rank,Date
0,ADF VODKA BASIC,38177,1000,TITOS HANDMADE VODKA 1000ml,1,25.49,13.48,256120.24,0.00267432,0.662417,10797,0.0014377,0.524354,1199.67,1,2018-05-01
1,ADF VODKA BASIC,34007,1000,ABSOLUT VODKA 1000ml,1,21.99,11.62,97063.86,0.00101351,0.356484,4513,0.000600938,0.354848,501.444,2,2018-05-01
2,ADF VODKA BASIC,35317,1000,BARTON VODKA 1000ml,1,7.59,3.96,54458.25,0.000568635,0.171536,7472,0.000994949,0.201673,830.222,3,2018-05-01
3,ADF VODKA BASIC,34747,1000,STOLICHNAYA VODKA 1000ml,1,22.99,12.15,52233.28,0.000545402,3.08346,2327,0.000309856,4.0919,258.556,4,2018-05-01
4,ADF VODKA BASIC,34510,1000,MONOPOLOWA POTATO VODKA 1000ml,1,16.99,8.96,48812.27,0.000509681,-0.0709494,2884,0.000384025,-0.199778,320.444,5,2018-05-01

In [20]:
total_booze = pd.concat(test_df).drop_duplicates()

In [21]:
total_booze

,Class Code,Item ID,Bottle Size,Product Name,Status,Price,Cost,Total Sales,Percent Sales,YOY Sales,Total Bottle Count,Percent Bottle Count,YOY Bottle Count,Case Count (9L),Rank,Date
0,ADF VODKA BASIC,38177,1000,TITOS HANDMADE VODKA 1000ml,1,26.99,14.28,181156.86,0.00125875,-0.0263921,6714,0.000627648,-0.0263921,746,1,2019-03-01
1,ADF VODKA BASIC,34422,1000,GREY GOOSE VODKA 1000ml,1,39.99,21.12,60654.84,0.000421119,0.0376454,1516,0.000141721,0.0376454,168.444,2,2019-03-01
2,ADF VODKA BASIC,35317,1000,BARTON VODKA 1000ml,1,6.99,3.64,43967.10,0.000305409,-0.278716,6290,0.000588011,-0.196166,698.889,3,2019-03-01
3,ADF VODKA BASIC,37987,1000,SKYY VODKA 1000ml,1,22.99,12.15,42945.32,0.000298311,-0.0734127,1868,0.000174627,-0.0734127,207.556,4,2019-03-01
4,ADF VODKA BASIC,34510,1000,MONOPOLOWA POTATO VODKA 1000ml,1,16.99,8.96,36708.38,0.000255154,-0.145792,2162,0.000202111,-0.145792,240.222,5,2019-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5829,YST SPECIAL ORDERS BEER,902473,555,LAGUNITAS IPA 555ml,S,2.59,1.48,186.48,4.7893e-05,1,72,5.85256e-05,1,4.44,1,2020-03-01
5830,YST SPECIAL ORDERS BEER,947706,650,NINKASI VANILLA OATIS OATMEAL STO 650ml,S,4.99,2.92,59.88,1.53788e-05,-0.5,12,9.75427e-06,-0.5,0.866667,1,2020-03-01
5831,YST SPECIAL ORDERS BEER,918128,651,EPIC F.W.R IMP PUMPKIN PORTER 651ml,X,5.59,5.22,190.06,4.88124e-05,1,34,2.76371e-05,1,2.45933,1,2020-03-01
5832,YST SPECIAL ORDERS BEER,989374,651,MOAB BRWRY BLACK IMPERIAL IPA 651ml,S,8.49,6.36,8.49,2.18046e-06,-0.988095,1,8.12855e-07,-0.988095,0.0723333,2,2020-03-01
5833,YST SPECIAL ORDERS BEER,955127,750,ROGUE DOUBLE CHOCOLATE STOUT 750ml,S,15.05,8.96,180.60,4.63828e-05,-0.294118,12,9.75427e-06,-0.294118,1,1,2020-03-01

In [24]:
sorted(total_booze.Date.unique())

['2018-05-01',
 '2018-07-01',
 '2018-08-01',
 '2018-09-01',
 '2018-10-01',
 '2018-11-01',
 '2018-12-01',
 '2019-02-01',
 '2019-03-01',
 '2019-04-01',
 '2019-05-01',
 '2019-07-01',
 '2019-08-01',
 '2019-09-01',
 '2019-10-01',
 '2020-01-01',
 '2020-02-01',
 '2020-03-01',
 '2020-04-01',
 '2020-05-01',
 '2020-07-01',
 '2020-08-01',
 '2020-09-01']

In [25]:
#total_booze.to_excel("BoozeVizData_MissingSomeMonths.xlsx")

In [27]:
folder = glob.glob("./Downloads/missing_booze/*.xlsx")
folder

['./Downloads/missing_booze/June2020 copy.xlsx',
 './Downloads/missing_booze/June2018 copy.xlsx',
 './Downloads/missing_booze/June2019 copy.xlsx',
 './Downloads/missing_booze/November2019 copy.xlsx',
 './Downloads/missing_booze/April2018 copy.xlsx']

In [29]:
#JUNE2020
June2020 = pd.read_excel(folder[0], sheet_name = None)

list_of_dfs = []
for i in June2020.keys():
    list_of_dfs.append(June2020[i])

date = list_of_dfs[0].columns[0].strftime("%Y-%m-%d")
date

'2020-06-01'

In [38]:
list_of_cleaned_df = []
for df in list_of_dfs:
    df = df.fillna(value=np.nan)

list_of_cleaned_df = []

for df in list_of_dfs:
            df = df.fillna(value=np.nan)
            class_code = df.iloc[:,1:2].values.tolist()
            class_code = [item for sublist in class_code for item in sublist]
            class_code = list(set(class_code))
            class_code = [i for i in class_code if len(str(i)) > 9][1]
            class_code = class_code.replace("\n", "")
            class_code = class_code.replace("-", "")
            class_code = class_code.replace("  ", " ")
            
            df = df.dropna(thresh=13)
            column_s = df.dropna(thresh=15).values.tolist()[0]
            df.columns = column_s
            df = df[1:]
            df = df.loc[:, df.columns.notnull()]
            df["Class Code"] = class_code
            df = df.reset_index(drop = True)

            list_of_cleaned_df.append(df)
            

June2020_Data = pd.concat(list_of_cleaned_df).reset_index(drop=True)
June2020_Data["Date"] = date
June2020_Data = June2020_Data[~June2020_Data["Class Code"].str.startswith('ZZZ')] # drop summary tab
June2020_Data.columns = ['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count','Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date'] 

June2020_Data['Item ID'] = pd.to_numeric(June2020_Data['Item ID'], errors='coerce')
June2020_Data['Bottle Size'] = pd.to_numeric(June2020_Data['Bottle Size'], errors='coerce')
June2020_Data['Price'] = pd.to_numeric(June2020_Data['Price'], errors='coerce')
June2020_Data['Cost'] = pd.to_numeric(June2020_Data['Cost'], errors='coerce')
June2020_Data['Total Sales'] = pd.to_numeric(June2020_Data['Total Sales'], errors='coerce')

In [39]:
June2020_Data

,Class Code,Item ID,Bottle Size,Product Name,Status,Price,Cost,Total Sales,Percent Sales,YOY Sales,Total Bottle Count,Percent Bottle Count,YOY Bottle Count,Case Count (9L),Rank,Date
0,ADF VODKA BASIC,38177,1000,TITOS HANDMADE VODKA 1000ml,1,26.99,14.28,178079.93,0.000826116,0.131917,6607,0.000420284,0.131917,734.111,1,2020-06-01
1,ADF VODKA BASIC,34510,1000,MONOPOLOWA POTATO VODKA 1000ml,1,14.99,8.96,62298.44,0.00028861,-0.0978945,4156,0.000264371,-0.0978945,461.778,2,2020-06-01
2,ADF VODKA BASIC,34422,1000,GREY GOOSE VODKA 1000ml,1,44.99,23.78,45349.92,0.000210092,0.111356,1008,6.41208e-05,0.111356,112,3,2020-06-01
3,ADF VODKA BASIC,37997,1000,SMIRNOFF VODKA 1000ml,1,19.99,10.56,45037.47,0.000208645,0.356412,2253,0.000143318,0.356412,250.333,4,2020-06-01
4,ADF VODKA BASIC,35317,1000,BARTON VODKA 1000ml,1,6.99,3.64,37312.62,0.000172858,-0.169441,5338,0.00033956,-0.169441,593.111,5,2020-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4849,YST SPECIAL ORDERS BEER,955220,473,BRUERY BAKERY: SEASONAL- OATMEAL 473 ml,S,6.65,3.67,798.00,0.000199337,0.599327,120,9.5017e-05,0.666667,6.30667,5,2020-06-01
4850,YST SPECIAL ORDERS BEER,953890,473,KIITOS NORTHEAST STYLE IPA 473 ml,S,4.25,3.18,408.00,0.000101917,-0.714286,96,7.60136e-05,-0.714286,5.04533,10,2020-06-01
4851,YST SPECIAL ORDERS BEER,955126,473,ROGUE MARIONBERRY SOUR 473 ml,S,3.28,1.93,229.60,5.73531e-05,-0.78125,70,5.54266e-05,-0.78125,3.67889,18,2020-06-01
4852,YST SPECIAL ORDERS BEER,918640,500,RED ROCK WHITE RAINBOW WHT IPA 500ml,L,3.99,2.94,10182.48,0.00254354,0.672346,2552,0.00202069,0.672346,141.778,1,2020-06-01
4853,YST SPECIAL ORDERS BEER,989374,651,MOAB BRWRY BLACK IMPERIAL IPA 651ml,S,8.49,6.36,50.94,1.27246e-05,-0.76,6,4.75085e-06,-0.76,0.434,1,2020-06-01

In [44]:
total_booze_plusJune2020 = pd.concat([total_booze, June2020_Data])

In [46]:
#JUNE2018
June2018 = pd.read_excel(folder[1], sheet_name = None)

list_of_dfs = []
for i in June2018.keys():
    list_of_dfs.append(June2018[i])

date = list_of_dfs[0].columns[0].strftime("%Y-%m-%d")
date

'2018-06-01'

In [47]:
list_of_cleaned_df = []
for df in list_of_dfs:
    df = df.fillna(value=np.nan)

list_of_cleaned_df = []

for df in list_of_dfs:
            df = df.fillna(value=np.nan)
            class_code = df.iloc[:,1:2].values.tolist()
            class_code = [item for sublist in class_code for item in sublist]
            class_code = list(set(class_code))
            class_code = [i for i in class_code if len(str(i)) > 9][1]
            class_code = class_code.replace("\n", "")
            class_code = class_code.replace("-", "")
            class_code = class_code.replace("  ", " ")
            
            df = df.dropna(thresh=13)
            column_s = df.dropna(thresh=15).values.tolist()[0]
            df.columns = column_s
            df = df[1:]
            df = df.loc[:, df.columns.notnull()]
            df["Class Code"] = class_code
            df = df.reset_index(drop = True)

            list_of_cleaned_df.append(df)
            

June2018_Data = pd.concat(list_of_cleaned_df).reset_index(drop=True)
June2018_Data["Date"] = date
June2018_Data = June2018_Data[~June2018_Data["Class Code"].str.startswith('ZZZ')] # drop summary tab
June2018_Data.columns = ['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count','Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date'] 

June2018_Data['Item ID'] = pd.to_numeric(June2018_Data['Item ID'], errors='coerce')
June2018_Data['Bottle Size'] = pd.to_numeric(June2018_Data['Bottle Size'], errors='coerce')
June2018_Data['Price'] = pd.to_numeric(June2018_Data['Price'], errors='coerce')
June2018_Data['Cost'] = pd.to_numeric(June2018_Data['Cost'], errors='coerce')
June2018_Data['Total Sales'] = pd.to_numeric(June2018_Data['Total Sales'], errors='coerce')

In [48]:
June2018_Data

,Class Code,Item ID,Bottle Size,Product Name,Status,Price,Cost,Total Sales,Percent Sales,YOY Sales,Total Bottle Count,Percent Bottle Count,YOY Bottle Count,Case Count (9L),Rank,Date
0,ADF VODKA BASIC,38177,1000,TITOS HANDMADE VODKA 1000ml,1,26.99,14.28,152655.44,0.00147387,0.743837,5656,0.000727462,0.614616,628.444,1,2018-06-01
1,ADF VODKA BASIC,37997,1000,SMIRNOFF VODKA 1000ml,1,16.99,8.96,119660.57,0.00115531,1.93002,7043,0.000905855,2.44738,782.556,2,2018-06-01
2,ADF VODKA BASIC,34510,1000,MONOPOLOWA POTATO VODKA 1000ml,1,14.99,8.96,74410.36,0.000718422,1.42238,4964,0.000638459,1.74558,551.556,3,2018-06-01
3,ADF VODKA BASIC,35317,1000,BARTON VODKA 1000ml,1,7.59,3.96,44363.55,0.000428324,-0.208472,5845,0.000751771,-0.191787,649.444,4,2018-06-01
4,ADF VODKA BASIC,34422,1000,GREY GOOSE VODKA 1000ml,1,44.99,23.78,38736.39,0.000373995,-0.151724,861,0.00011074,-0.151724,95.6667,5,2018-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4783,YST SPECIAL ORDERS BEER,950170,473,HOPWORKS SURVIVAL STOUT CAN 473ml,S,2.69,2.00,64.56,3.45728e-05,1,24,3.86271e-05,1,1.26133,9,2018-06-01
4784,YST SPECIAL ORDERS BEER,989241,500,HOFBRAU HEFE WEIZEN 500ml,S,3.35,1.97,603.00,0.000322915,2.05471,180,0.000289703,2,10,3,2018-06-01
4785,YST SPECIAL ORDERS BEER,950963,650,RITUAL WIT'S END 650 ml,S,5.57,4.14,66.84,3.57938e-05,1,12,1.93135e-05,1,0.866667,6,2018-06-01
4786,YST SPECIAL ORDERS BEER,907306,750,LE MERLE BELGIAN STYLE ALE 750ml,S,7.67,4.16,552.24,0.000295732,1,72,0.000115881,1,6,1,2018-06-01
4787,YST SPECIAL ORDERS BEER,989404,750,CHIMAY RED PREMIERE TRAPPIST A 750ml,S,16.25,9.68,32.50,1.74042e-05,-0.903213,2,3.21892e-06,-0.904762,0.166667,4,2018-06-01

In [51]:
total_booze_plusJune2020_plus2018 = pd.concat([total_booze_plusJune2020, June2018_Data])
total_booze_plusJune2020_plus2018.shape

(149974, 16)

In [53]:
#JUNE2019
June2019 = pd.read_excel(folder[2], sheet_name = None)

list_of_dfs = []
for i in June2019.keys():
    list_of_dfs.append(June2019[i])

date = list_of_dfs[0].columns[0].strftime("%Y-%m-%d")
date

'2019-06-01'

In [54]:
list_of_cleaned_df = []
for df in list_of_dfs:
    df = df.fillna(value=np.nan)

list_of_cleaned_df = []

for df in list_of_dfs:
            df = df.fillna(value=np.nan)
            class_code = df.iloc[:,1:2].values.tolist()
            class_code = [item for sublist in class_code for item in sublist]
            class_code = list(set(class_code))
            class_code = [i for i in class_code if len(str(i)) > 9][1]
            class_code = class_code.replace("\n", "")
            class_code = class_code.replace("-", "")
            class_code = class_code.replace("  ", " ")
            
            df = df.dropna(thresh=13)
            column_s = df.dropna(thresh=15).values.tolist()[0]
            df.columns = column_s
            df = df[1:]
            df = df.loc[:, df.columns.notnull()]
            df["Class Code"] = class_code
            df = df.reset_index(drop = True)

            list_of_cleaned_df.append(df)
            

June2019_Data = pd.concat(list_of_cleaned_df).reset_index(drop=True)
June2019_Data["Date"] = date
June2019_Data = June2019_Data[~June2019_Data["Class Code"].str.startswith('ZZZ')] # drop summary tab
June2019_Data.columns = ['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count','Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date'] 

June2019_Data['Item ID'] = pd.to_numeric(June2019_Data['Item ID'], errors='coerce')
June2019_Data['Bottle Size'] = pd.to_numeric(June2019_Data['Bottle Size'], errors='coerce')
June2019_Data['Price'] = pd.to_numeric(June2019_Data['Price'], errors='coerce')
June2019_Data['Cost'] = pd.to_numeric(June2019_Data['Cost'], errors='coerce')
June2019_Data['Total Sales'] = pd.to_numeric(June2019_Data['Total Sales'], errors='coerce')

In [56]:
total_booze_plusJune2020_plusJune2018_plusJune2019 = pd.concat([total_booze_plusJune2020_plus2018, June2019_Data])
total_booze_plusJune2020_plusJune2018_plusJune2019.shape

(154850, 16)

In [57]:
#November2019
November2019 = pd.read_excel(folder[3], sheet_name = None)

list_of_dfs = []
for i in November2019.keys():
    list_of_dfs.append(November2019[i])

date = list_of_dfs[0].columns[0].strftime("%Y-%m-%d")
date

'2019-11-01'

In [61]:
list_of_cleaned_df = []
for df in list_of_dfs:
    df = df.fillna(value=np.nan)

list_of_cleaned_df = []

for df in list_of_dfs:
        df = df.fillna(value=np.nan)
        df = df.dropna(thresh=13)
        column_s = df.dropna(thresh=15).values.tolist()[0]
        df.columns = column_s
        df = df[1:]
        df = df.loc[:, df.columns.notnull()]
        df["Class Code"] = 'None'
        df = df.reset_index(drop = True)

        list_of_cleaned_df.append(df)


November2019_Data = pd.concat(list_of_cleaned_df).reset_index(drop=True)
November2019_Data["Date"] = date
November2019_Data = November2019_Data[~November2019_Data["Class Code"].str.startswith('ZZZ')] # drop summary tab
November2019_Data.columns = ['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count','Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date'] 

November2019_Data['Item ID'] = pd.to_numeric(November2019_Data['Item ID'], errors='coerce')
November2019_Data['Bottle Size'] = pd.to_numeric(November2019_Data['Bottle Size'], errors='coerce')
November2019_Data['Price'] = pd.to_numeric(November2019_Data['Price'], errors='coerce')
November2019_Data['Cost'] = pd.to_numeric(November2019_Data['Cost'], errors='coerce')
November2019_Data['Total Sales'] = pd.to_numeric(November2019_Data['Total Sales'], errors='coerce')

In [63]:
total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019 = pd.concat([total_booze_plusJune2020_plusJune2018_plusJune2019, November2019_Data])
total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019.shape

(160983, 16)

In [171]:
#April2018
April2018 = pd.read_excel(folder[4], sheet_name = None)

list_of_dfs = []
for i in April2018.keys():
    list_of_dfs.append(April2018[i])

date = list_of_dfs[0].columns[0].strftime("%Y-%m-%d")
date

'2018-04-01'

In [172]:
list_of_cleaned_df = []
for df in list_of_dfs:
    df = df.fillna(value=np.nan)

list_of_cleaned_df = []
for df in list_of_dfs:
    df['Unnamed: 1'] = df['Unnamed: 1'].ffill(axis = 0)
    df['Unnamed: 8'] = df['Unnamed: 8'].bfill(axis = 0)
    df['Unnamed: 9'] = df['Unnamed: 9'].bfill(axis = 0)
    df = df[df['Unnamed: 19'].apply(lambda x: str(x).isdigit())]
    df = df[df['Unnamed: 2'].apply(lambda x: str(x).isdigit())]
    df = df.dropna(thresh=11)
    df = df.dropna(how='all', axis=1)
    df.columns = ['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count','Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank'] 
    df["Class Code"] = df["Class Code"].str.replace("\n", "")
    df["Class Code"] = df["Class Code"].str.replace("-", "")
    df["Class Code"] = df["Class Code"].str.replace("  ", " ")
    df = df.reset_index(drop = True)
    list_of_cleaned_df.append(df)

In [173]:
April2018_Data = pd.concat(list_of_cleaned_df).reset_index(drop=True)
April2018_Data["Date"] = date
April2018_Data = April2018_Data[~April2018_Data["Class Code"].str.startswith('ZZZ')] # drop summary tab
April2018_Data.columns = ['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count','Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date'] 

April2018_Data['Item ID'] = pd.to_numeric(April2018_Data['Item ID'], errors='coerce')
April2018_Data['Bottle Size'] = pd.to_numeric(April2018_Data['Bottle Size'], errors='coerce')
April2018_Data["Price"] = April2018_Data["Price"].str.replace("  ", "")
April2018_Data["Price"] = April2018_Data["Price"].str.replace("$", "")
April2018_Data['Price'] = pd.to_numeric(April2018_Data['Price'], errors='coerce')
April2018_Data["Cost"] = April2018_Data["Cost"].str.replace("  ", "")
April2018_Data["Cost"] = April2018_Data["Cost"].str.replace("$", "")
April2018_Data['Cost'] = pd.to_numeric(April2018_Data['Cost'], errors='coerce')
April2018_Data['Total Sales'] = pd.to_numeric(April2018_Data['Total Sales'], errors='coerce')

In [174]:
April2018_Data

,Class Code,Item ID,Bottle Size,Product Name,Status,Price,Cost,Total Sales,Percent Sales,YOY Sales,Total Bottle Count,Percent Bottle Count,YOY Bottle Count,Case Count (9L),Rank,Date
0,ADF VODKA BASIC,38177,1000,TITOS HANDMADE VODKA 1000ml,1,26.99,14.28,92980.55,0.00103233,0.280795,3478,0.000492556,0.19273,386.444,1,2018-04-01
1,ADF VODKA BASIC,34510,1000,MONOPOLOWA POTATO VODKA 1000ml,1,14.99,7.89,66287.78,0.000735968,1.24487,4565,0.000646498,1.61006,507.222,2,2018-04-01
2,ADF VODKA BASIC,34457,1000,KETEL ONE 1000ml,1,26.99,14.28,57464.71,0.000638009,1.5651,2173,0.000307742,1.86675,241.444,3,2018-04-01
3,ADF VODKA BASIC,35317,1000,BARTON VODKA 1000ml,1,7.79,4.06,46412.82,0.000515304,0.0194022,6200,0.000878048,0.0107597,688.889,4,2018-04-01
4,ADF VODKA BASIC,38067,1000,TAAKA VODKA 1000ml,1,7.59,3.96,36401.64,0.000404153,-0.0142857,4884,0.000691675,0.00225734,542.667,5,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5925,YST SPECIAL ORDERS BEER,948017,651,NEW BELGIUM SOUR TRASATLANTIC KREIK651ml,S,20.56,10.86,246.72,0.000157707,1,12,2.2375e-05,1,0.868,1,2018-04-01
5926,YST SPECIAL ORDERS BEER,949720,750,IL CONTE STELLA ROSA BLACK 750ml,S,11.70,6.72,842.40,0.000538473,1,72,0.00013425,1,6,1,2018-04-01
5927,YST SPECIAL ORDERS BEER,907877,750,BOULEVARD SAISON -BRETT 750ml,S,15.35,9.14,552.60,0.000353229,0.486443,36,6.71249e-05,0.5,3,2,2018-04-01
5928,YST SPECIAL ORDERS BEER,952541,750,OIHARTE CIDER 750ml,S,7.37,4.00,265.32,0.000169596,1,36,6.71249e-05,1,3,3,2018-04-01
5929,YST SPECIAL ORDERS BEER,989404,750,CHIMAY RED PREMIERE TRAPPIST A 750ml,S,16.25,9.68,81.19,5.18977e-05,-0.86638,5,9.3229e-06,-0.868421,0.416667,4,2018-04-01

In [175]:
total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019_plusApril2018 = pd.concat([total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019, April2018_Data])
total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019_plusApril2018.shape

(166913, 16)

In [177]:
total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019_plusApril2018_noDUPS = total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019_plusApril2018.drop_duplicates()
total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019_plusApril2018_noDUPS.shape

(166913, 16)

In [178]:
#total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019_plusApril2018_noDUPS.to_excel("BoozeVizData.xlsx")

In [180]:
sorted(total_booze_plusJune2020_plusJune2018_plusJune2019_plusNov2019_plusApril2018_noDUPS.Date.unique())

['2018-04-01',
 '2018-05-01',
 '2018-06-01',
 '2018-07-01',
 '2018-08-01',
 '2018-09-01',
 '2018-10-01',
 '2018-11-01',
 '2018-12-01',
 '2019-02-01',
 '2019-03-01',
 '2019-04-01',
 '2019-05-01',
 '2019-06-01',
 '2019-07-01',
 '2019-08-01',
 '2019-09-01',
 '2019-10-01',
 '2019-11-01',
 '2020-01-01',
 '2020-02-01',
 '2020-03-01',
 '2020-04-01',
 '2020-05-01',
 '2020-06-01',
 '2020-07-01',
 '2020-08-01',
 '2020-09-01']