In [1]:
import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows', 1100)
pd.set_option('display.max_columns', 500)
import numpy as np
import glob
import seaborn as sns

In [51]:

df = pd.read_excel("./Desktop/BoozeVizData.xlsx")

In [3]:
df

,Unnamed: 0,Class Code,Item ID,Bottle Size,Product Name,Status,Price,Cost,Total Sales,Percent Sales,YOY Sales,Total Bottle Count,Percent Bottle Count,YOY Bottle Count,Case Count (9L),Rank,Date
0,0,ADF VODKA BASIC,38177,1000,TITOS HANDMADE VODKA 1000ml,1,26.99,14.28,181156.86,0.001259,-0.026392,6714,0.000628,-0.026392,746.000000,1,2019-03-01
1,1,ADF VODKA BASIC,34422,1000,GREY GOOSE VODKA 1000ml,1,39.99,21.12,60654.84,0.000421,0.037645,1516,0.000142,0.037645,168.444444,2,2019-03-01
2,2,ADF VODKA BASIC,35317,1000,BARTON VODKA 1000ml,1,6.99,3.64,43967.10,0.000305,-0.278716,6290,0.000588,-0.196166,698.888889,3,2019-03-01
3,3,ADF VODKA BASIC,37987,1000,SKYY VODKA 1000ml,1,22.99,12.15,42945.32,0.000298,-0.073413,1868,0.000175,-0.073413,207.555556,4,2019-03-01
4,4,ADF VODKA BASIC,34510,1000,MONOPOLOWA POTATO VODKA 1000ml,1,16.99,8.96,36708.38,0.000255,-0.145792,2162,0.000202,-0.145792,240.222222,5,2019-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166908,5925,YST SPECIAL ORDERS BEER,948017,651,NEW BELGIUM SOUR TRASATLANTIC KREIK651ml,S,20.56,10.86,246.72,0.000158,1.000000,12,0.000022,1.000000,0.868000,1,2018-04-01
166909,5926,YST SPECIAL ORDERS BEER,949720,750,IL CONTE STELLA ROSA BLACK 750ml,S,11.70,6.72,842.40,0.000538,1.000000,72,0.000134,1.000000,6.000000,1,2018-04-01
166910,5927,YST SPECIAL ORDERS BEER,907877,750,BOULEVARD SAISON -BRETT 750ml,S,15.35,9.14,552.60,0.000353,0.486443,36,0.000067,0.500000,3.000000,2,2018-04-01
166911,5928,YST SPECIAL ORDERS BEER,952541,750,OIHARTE CIDER 750ml,S,7.37,4.00,265.32,0.000170,1.000000,36,0.000067,1.000000,3.000000,3,2018-04-01
166912,5929,YST SPECIAL ORDERS BEER,989404,750,CHIMAY RED PREMIERE TRAPPIST A 750ml,S,16.25,9.68,81.19,0.000052,-0.866380,5,0.000009,-0.868421,0.416667,4,2018-04-01

In [4]:
df.dtypes

Unnamed: 0                int64
Class Code               object
Item ID                   int64
Bottle Size               int64
Product Name             object
Status                   object
Price                   float64
Cost                    float64
Total Sales             float64
Percent Sales           float64
YOY Sales               float64
Total Bottle Count        int64
Percent Bottle Count    float64
YOY Bottle Count        float64
Case Count (9L)         float64
Rank                      int64
Date                     object
dtype: object

In [40]:
#January2019
January2019 = pd.read_excel("./Desktop/January2019.xlsx", sheet_name = None)

In [41]:
list_of_dfs = []
for i in January2019.keys():
    list_of_dfs.append(January2019[i])

date = list_of_dfs[0].columns[0].strftime("%Y-%d-%m")
date

'2019-01-01'

In [42]:
for df in list_of_dfs:
    df = df.fillna(value=np.nan)

list_of_cleaned_df = []
for df in list_of_dfs:
            df = df.fillna(value=np.nan)
            class_code = df.iloc[:,1:2].values.tolist()
            class_code = [item for sublist in class_code for item in sublist]
            class_code = list(set(class_code))
            class_code = [i for i in class_code if len(str(i)) > 9][0]
            class_code = class_code.replace("\n", "")
            class_code = class_code.replace("-", "")
            class_code = class_code.replace("  ", " ")
            
            df = df.dropna(thresh=13)
            column_s = df.dropna(thresh=15).values.tolist()[0]
            df.columns = column_s
            df = df[1:]
            df = df.loc[:, df.columns.notnull()]
            df["Class Code"] = class_code
            df = df.reset_index(drop = True)

            list_of_cleaned_df.append(df)

In [43]:
January2019_Data = pd.concat(list_of_cleaned_df).reset_index(drop=True)
January2019_Data

,Class Code,Item ID,Bottle Size,Product Name,Status,Price,Cost,Total,Percent,YOY,Total,Percent,YOY,Case Count (9L),Rank
0,ADF VODKA BASIC,038177,1000,TITOS HANDMADE VODKA 1000ml,1,26.99,14.28,194166,0.00142694,0.687544,7194,0.000709939,0.687544,799.333,1
1,ADF VODKA BASIC,037987,1000,SKYY VODKA 1000ml,1,18.99,10.02,118881,0.00087364,0.311819,6260,0.000617767,0.311819,695.556,2
2,ADF VODKA BASIC,034422,1000,GREY GOOSE VODKA 1000ml,1,39.99,21.12,89707.6,0.000659195,1.20789,2243,0.00022135,1.48394,249.222,3
3,ADF VODKA BASIC,035317,1000,BARTON VODKA 1000ml,1,7.49,3.9,52729.6,0.000387514,0.197397,7040,0.000694741,0.245356,782.222,4
4,ADF VODKA BASIC,034510,1000,MONOPOLOWA POTATO VODKA 1000ml,1,16.99,8.96,45074.5,0.000331256,0.276094,2653,0.000261811,0.276094,294.778,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6486,YST SPECIAL ORDERS BEER,949720,750,STELLA ROSA BLACK 750ml,S,11.7,6.72,702,0.000246095,3.45545,60,6.19953e-05,4,5,2
6487,YST SPECIAL ORDERS BEER,907877,750,BOULEVARD SAISON -BRETT 750ml,S,15.35,9.14,368.4,0.000129147,1,24,2.47981e-05,1,2,3
6488,YST SPECIAL ORDERS BEER,950655,750,ST. GEORGE PEAR BRANDY 750ml,S,40.38,21.33,242.28,8.49342e-05,1,6,6.19953e-06,1,0.5,4
6489,YST SPECIAL ORDERS BEER,989404,750,CHIMAY RED PREMIERE TRAPPIST A 750ml,S,16.25,9.68,195,6.83596e-05,-0.291502,12,1.23991e-05,-0.294118,1,5
6490,ZZZ Type 5 manual adjustment to General Journal,999995,1,Type 5 manual adjustment to General Journal,TYPE 5,-673.764,0,-38234.6,-9.2176e-05,-1.04591,59,0.0123328,-0.280488,0.00655556,1

In [44]:
January2019_Data["Date"] = date
January2019_Data = January2019_Data[~January2019_Data["Class Code"].str.startswith('ZZZ')] # drop summary tab
January2019_Data.columns = ['Class Code', 'Item ID', 'Bottle Size', 'Product Name', 'Status', 'Price', 'Cost', 'Total Sales', 'Percent Sales', 'YOY Sales', 'Total Bottle Count','Percent Bottle Count', 'YOY Bottle Count', 'Case Count (9L)', 'Rank', 'Date'] 

January2019_Data['Item ID'] = pd.to_numeric(January2019_Data['Item ID'], errors='coerce')
January2019_Data['Bottle Size'] = pd.to_numeric(January2019_Data['Bottle Size'], errors='coerce')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
#January2019_Data["Price"] = January2019_Data["Price"].str.replace("  ", "")
#January2019_Data["Price"] = January2019_Data["Price"].str.replace("$", "")
January2019_Data['Price'] = pd.to_numeric(January2019_Data['Price'], errors='coerce')
#January2019_Data["Cost"] = January2019_Data["Cost"].str.replace("  ", "")
#January2019_Data["Cost"] = January2019_Data["Cost"].str.replace("$", "")
January2019_Data['Cost'] = pd.to_numeric(January2019_Data['Cost'], errors='coerce')
January2019_Data['Total Sales'] = pd.to_numeric(January2019_Data['Total Sales'], errors='coerce')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [50]:
January2019_Data

,Class Code,Item ID,Bottle Size,Product Name,Status,Price,Cost,Total Sales,Percent Sales,YOY Sales,Total Bottle Count,Percent Bottle Count,YOY Bottle Count,Case Count (9L),Rank,Date
0,ADF VODKA BASIC,38177,1000,TITOS HANDMADE VODKA 1000ml,1,26.99,14.28,194166.06,0.00142694,0.687544,7194,0.000709939,0.687544,799.333,1,2019-01-01
1,ADF VODKA BASIC,37987,1000,SKYY VODKA 1000ml,1,18.99,10.02,118881.40,0.00087364,0.311819,6260,0.000617767,0.311819,695.556,2,2019-01-01
2,ADF VODKA BASIC,34422,1000,GREY GOOSE VODKA 1000ml,1,39.99,21.12,89707.57,0.000659195,1.20789,2243,0.00022135,1.48394,249.222,3,2019-01-01
3,ADF VODKA BASIC,35317,1000,BARTON VODKA 1000ml,1,7.49,3.90,52729.60,0.000387514,0.197397,7040,0.000694741,0.245356,782.222,4,2019-01-01
4,ADF VODKA BASIC,34510,1000,MONOPOLOWA POTATO VODKA 1000ml,1,16.99,8.96,45074.47,0.000331256,0.276094,2653,0.000261811,0.276094,294.778,5,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6485,YST SPECIAL ORDERS BEER,955164,750,ALESMITH HORNY DEVIL 750ml,S,9.17,5.38,1540.56,0.000540062,1,168,0.000173587,1,14,1,2019-01-01
6486,YST SPECIAL ORDERS BEER,949720,750,STELLA ROSA BLACK 750ml,S,11.70,6.72,702.00,0.000246095,3.45545,60,6.19953e-05,4,5,2,2019-01-01
6487,YST SPECIAL ORDERS BEER,907877,750,BOULEVARD SAISON -BRETT 750ml,S,15.35,9.14,368.40,0.000129147,1,24,2.47981e-05,1,2,3,2019-01-01
6488,YST SPECIAL ORDERS BEER,950655,750,ST. GEORGE PEAR BRANDY 750ml,S,40.38,21.33,242.28,8.49342e-05,1,6,6.19953e-06,1,0.5,4,2019-01-01
6489,YST SPECIAL ORDERS BEER,989404,750,CHIMAY RED PREMIERE TRAPPIST A 750ml,S,16.25,9.68,195.00,6.83596e-05,-0.291502,12,1.23991e-05,-0.294118,1,5,2019-01-01

In [53]:
total = pd.concat([df, January2019_Data])
total.shape

(173403, 17)

In [54]:
total.to_excel("BoozeVizDataNovember112020.xlsx")